<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.kdr.bookingapp">

    <uses-sdk
        android:minSdkVersion="18 "
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="logik.BookingApplication"
        android:allowBackup="true"
        android:icon="@drawable/v_book_icon"
        android:label="bookingapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="logik.ConnectService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowMonthActivity" />
        <activity android:name=".VisVaskeDagActivity" />
        <activity android:name=".VisLedigeVaskerum" />
        <activity android:name=".ShowWeekActivity" />
        <activity android:name=".ReserverTidAktivitet"></activity>
        <activity android:name=".VisReservationer" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3791d9f2e87aa87b15e5501475e0a0b9a53715c5"
            />
    </application>

</manifest>